@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@RenderPage("~/Views/Template/_CreateEdit.cshtml") 

@section Scripts { 
    <script type="text/javascript">
        require(["parkingPass/templateClass", "dojo/domReady!"], function (Template) {
            var template = new Template();

            template.edit();
        });

    </script>
}